#QuienesSomos{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    height:auto;
    scroll-margin-top: 4em;
}

#QuienesSomos .img1{  
    position: absolute;
    width:100%;
}

.img_quienes #img_q{
    position: relative;
    width: 50%;
    margin: 8% 5%;
    border-radius: 50px;
}

.img_quienes #img_q2{
    position: relative;
    width: 53%;
    border-radius: 50px;
    margin-left: 30%;
}

.context{
    position: relative;
    margin: 5% 13%;
}

.context h3{
    color: #ff6600;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-bottom: 3%;
}

.context p{
   text-align: justify;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   box-shadow: 0px 0px 15px 0px #ff6600;
   padding: 10px;
   font-size: 14px;
   color: white;
   margin-bottom: 2%;
}

.experiencia{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 1% 0;
}

.num{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 4ch;
    animation: typing 2s steps(4), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
    font-size: 50px;
    color: red;
    font-weight: 800;
}

.cien{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 5ch;
    animation: typing 2s steps(5), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
    font-size: 50px;
    color: red;
    font-weight: 800;
}

.strong1{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    animation: typing 2s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
    font-size: 20px;
    font-family: "Kode Mono", monospace;
}

.strong2{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 23ch;
    animation: typing 2s steps(23), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
    font-size: 20px;
    font-family: "Kode Mono", monospace;
}

.strong3{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;
    animation: typing 2s steps(21), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
    font-size: 20px;
    font-family: "Kode Mono", monospace;
}

@keyframes typing{
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; } 
}

@media screen and (max-width: 960px) {
    #QuienesSomos .img1{  
        display: none;
    }

    .img_quienes{
        display: none;
    }

    #QuienesSomos{
        display: block;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 40%, rgba(9,9,121,1) 69%, rgba(255,0,78,1) 100%);
        padding: 10px 0;
    }

    .context{
        width: 75%;
    }

    .context p{
        color: white;
        margin-bottom: 8%;
    }
}