#QuienesSomos{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    margin: 3% 10%;
}

.img_quienes img{
    width: 70%;
}

.container h2{
    color: #ff6600;
    font-family: "Kode Mono", monospace;
    text-align: center;
    margin-bottom: 3%;
}

.container p{
   text-align: justify;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   box-shadow: 3px 3px 0px 0px #003399;
   padding: 8px;
   
}

hr{
    color: #ff6600;
    margin: 5px auto 10px auto;
    border: 0;
    border-bottom: 5px solid #ff6600;
    box-shadow: 0px 1px 15px 2px #ff6600;
    width: 70%;
    
}