.content{
    position: relative; 
    padding: 16px;  
}

.content .especialistas {
    position: relative;
    width: 40%;
    margin-bottom: 10%;
}

.content .banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.content .person{
    width: 21.2%;
    position: relative;
    margin-left: 10%;
}

@media screen and (max-width: 960px) {
    .content .person{
        width: 20.5%;
    }
}
