#Innersoft{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYn9oj_gQL8D5zLzVoM-BbFTgc7InkrvXsmQ&usqp=CAU);
    
  
}

#Innersoft img{
    position: relative;
    width: 20%;
}