#Contacto{
    background-image: url(https://wallpaper.dog/large/5566674.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    scroll-margin-top: 4em;
}

.contact_cotizar{
    display: flex;
    gap: 5px;
    box-shadow: 0px 0px 30px 0px #075f2a;
}

.contacto{
    padding: 20px;
}

.texto{
    color: white;
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 10px;
}

.texto p{
    font-size: 18px;
}

.texto ul{
    padding: 0;
}

.texto ul li{
    font-size: 20px;
}

.texto ul li strong{
    color: #0b8f40;
}

.title h2{
    text-align: center;
    color: #0d8d40;
    font-weight: 900;
    margin: 0;
}

.formulario{
    padding: 20px;
}

.formu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.group{
    display: flex;
}

.group .group_1{
    margin: 2% 3%;
    width: 300px;
}

.group .group_1 .control{
    margin-top: 10px;
    height: 50px;
    color: #0d8d40;
}

.textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

textarea{
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 150px;
    margin: 0 3%;
    color: #0d8d40;
}

.buton{
    display: flex;
    justify-content: center;
}

.buton Button{
    width: 200px;
    height: 60px;
    background: #0d8d40;
    color: white;
    margin: 2% 0;
    font-size: 20px;
    font-weight: 500;
}

.buton Button:hover{
    background: white;
    color: #0d8d40;
}

ul li{
    list-style: none;
    font-size: 23px;
    margin: 2% 0;
}

ul li a{
    color: white;
    font-size: 30px;
}

ul li a:hover{
    color: #0d8d40;
}

.redes ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0
}

.redes ul li{
    color: white;
}

.footer p{
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 30px 0 0 0;
}

.map{
    display: flex;
}

@media screen and (max-width: 960px) {
    .group{
        display: block;
    }

    .group .group_1{
        width: 300px;
    }

    textarea{
        width: 320px;
        height: 150px;
    }

    .contact_cotizar{
        display: block;
    }

    .texto{
        font-size: 16px;
        width: 300px;
    }

    .footer{
        font-size: 12px;
    }

    .texto ul li{
        font-size: 16px;
    }

    .map{
        display: block;
        text-align: center;
    }

    .map .img_map{
        width: 330px;
        height: 200px;
        
    }
}